body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  height: 960px;
}

.gridSquare {
  width: calc(100% / var(--grid-size));
  height: calc(100% / var(--grid-size));

  box-sizing: border-box;
  /* box sizing is how big the .gridSquare div is, and border-box says to make the margin and padding of .gridSqaure a part of the total size */
  /* this is to ensure we don't overflow our pre-defined width and height earlier in .container */
  border: 1px solid black;
}
